/* CSS PAGINA MASCULINO */

.portada-masculino {
    width: 100%;
}

.posiciones-masculino{
    margin: auto;
}

.contenedor-posiciones-masculino{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto;
}

.posiciones-masculino{
    width: 250px;
    margin: auto;
    border: solid;
}

.fixture-masculino{
display: grid;
grid-template-columns: auto;
grid-template-rows: auto;
justify-content: center;
font-size: 12px;
padding-left: auto;

}

.tabla-fixture-masculino{
width:auto;
border: solid;
}

/* MASCULINO GRID AREAS*/

.contenedor-masculino{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "navegacion"
    "intro-masculino"
    "portada-masculino"
    "contenedor-posiciones-masculino"
    "redes"
    ;
}

.header{
    grid-area: navegacion;
}
.main-masculino{
    grid-area: intro-masculino;
}
.main-masculino{
    grid-area: portada-masculino;
}
.main-masculino{
    grid-area: contenedor-posiciones-masculino;
}
.footer{
    grid-area: redes;
}

/* MASCULINO MEDIA TABLET */

@media screen and (min-width:768px){
    .contenedor-logo{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 80%;
    }

    .menu li{
        display: inline-block;
    }
    
    .contenedor-masculino{
    grid-template-columns: 100%;
    grid-template-areas: 
    "navegacion"
    "intro-masculino"
    "portada-masculino"
    "contenedor-posiciones-masculino"
    "redes"
    ;
    }
    
    .header{
        grid-area: navegacion;
    }
    .main-masculino{
        grid-area: intro-masculino;
    }
    .main-masculino{
        grid-area: portada-masculino;
    }
    .main-masculino{
        grid-area: contenedor-posiciones-masculino; 
    }
    .footer{
        grid-area: redes;
    }
    
    .contenedor-imagenes-masculino{
        display: grid;
        grid-template-columns:auto auto;
        grid-template-rows: auto auto;
        grid-gap: 10px;

    }

    .contenedor-posiciones-masculino{
        display: grid;
        grid-template-columns:auto auto;
        grid-template-rows: auto;
    }
    
    .posiciones-femenino{
        width: 250px;
        margin: auto;
        border: solid;
    }
    
    .fixture-masculino{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    font-size: 16px;
    }
    
    .tabla-fixture-masculino{
    width:500px;
    border: solid;
    }
   

}
/*MASCULINO MEDIA DESKTOP */

@media screen and (min-width:1024px){
    .contenedor-masculino{
    grid-template-columns: 100%;
    grid-template-areas: 
    "navegacion"
    "intro-masculino"
    "portada-masculino"
    "contenedor-posiciones-masculino"
    "redes"
    ;
    }
    
    .header{
        grid-area: navegacion;
    }
    .main-masculino{
        grid-area: intro-masculino;
    }
    .main-masculino{
        grid-area: portada-masculino;
    }
    .main-masculino{
        grid-area: contenedor-posiciones-masculino; 
    }
    .footer{
        grid-area: redes;
    }

    .contenedor-logo{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 80%;
    }

    .menu li{
        display: inline-block;
    }

    .h1-torneo-masculino:hover{
        background-color: $colorSecundario;
        color: $colorPrincipal;
        font-size: 50px;
    }

    .contenedor-imagenes-masculino{
         display: grid;
         grid-template-columns:auto auto;
         grid-template-rows: auto auto;
         grid-gap: 10px;
    }

    .contenedor-posiciones{
        display: grid;
        grid-template-columns:auto auto ;
        grid-template-rows: auto auto;
    }
    
    .posiciones-masculino{
        width: 250px;
        margin: auto;
        border: solid;
    }
    
    .fixture-masculino{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    font-size: 16px;
    }
    
    .tabla-fixture-masculino{
    width:500px;
    border: solid;
    }
   
    .contendor-p-masculino{
       display: grid;
       grid-template-columns: 500px;
       grid-template-rows: auto;
       justify-content: center;
    }
    
}
