/* CSS PAGINA MASCULINO */

.portada-masculino {
    width: 100%;
}

.contenedor-posiciones-masculino{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
}

/* MASCULINO GRID AREAS*/

.contenedor-masculino{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "navegacion"
    "intro-masculino"
    "portada-masculino"
    "contenedor-posiciones-masculino"
    "redes"
    ;
}

.header{
    grid-area: navegacion;
}
.main-masculino{
    grid-area: intro-masculino;
}
.main-masculino{
    grid-area: portada-masculino;
}
.main-masculino{
    grid-area: contenedor-posiciones-masculino;
}
.footer{
    grid-area: redes;
}

/* AMSCULINO MEDIA TABLET */

@media screen and (min-width:768px){
    .contenedor-logo{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 80%;
    }

    .menu li{
        display: inline-block;
    }
    
    .contenedor-masculino{
    grid-template-columns: 100%;
    grid-template-areas: 
    "navegacion"
    "intro-masculino"
    "portada-masculino"
    "contenedor-posiciones-masculino"
    "redes"
    ;
    }
    
    .header{
        grid-area: navegacion;
    }
    .main-masculino{
        grid-area: intro-masculino;
    }
    .main-masculino{
        grid-area: portada-masculino;
    }
    .main-masculino{
        grid-area: contenedor-posiciones-masculino; 
    }
    .footer{
        grid-area: redes;
    }
    
    .contenedor-imagenes-masculino{
        display: grid;
        grid-template-columns:auto auto;
        grid-template-rows: auto auto;
        grid-gap: 10px;
}



/*MASCULINO MEDIA DESKTOP */

@media screen and (min-width:1024px){
    .contenedor-masculino{
    grid-template-columns: 100%;
    grid-template-areas: 
    "navegacion"
    "intro-masculino"
    "portada-masculino"
    "contenedor-posiciones-masculino"
    "redes"
    ;
    }
    
    .header{
        grid-area: navegacion;
    }
    .main-masculino{
        grid-area: intro-masculino;
    }
    .main-masculino{
        grid-area: portada-masculino;
    }
    .main-masculino{
        grid-area: contenedor-posiciones-masculino; 
    }
    .footer{
        grid-area: redes;
    }

    .contenedor-logo{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 80%;
    }

    .menu li{
        display: inline-block;
    }

    .h1-torneo-masculino:hover{
        background-color: $colorSecundario;
        color: $colorPrincipal;
        font-size: 50px;
    }

    .contenedor-imagenes-masculino{
         display: grid;
         grid-template-columns:auto auto;
         grid-template-rows: auto auto;
         grid-gap: 10px;
    }

}
}