.main-contacto{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    align-content: center;
    text-align: center;
  
}
.formulario-contacto{
    color: $colorSecundario;
    margin-top: 25px;
    margin-bottom: 25px;
}