.imagen-portada {
  width: 100%;
  height: 100%; }

.imagen-banner {
  width: 100%;
  height: 100%; }

.imagen-femenino {
  width: 100%;
  height: 100%; }

.imagen-masculino {
  width: 100%;
  height: 100%; }

.h2-informacion {
  display: flex;
  justify-content: center; }

.h2-femenino {
  display: flex;
  justify-content: center; }

.h2-masculino {
  display: flex;
  justify-content: center; }

.portada-femenino {
  width: 100%; }

.contenedor-posiciones-femenino {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center; }

/* FEMENINO GRID AREAS*/
.contenedor-femenino {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "navegacion" "intro-femenino" "portada-femenino" "contenedor-posiciones-femenino" "redes"; }

.header {
  grid-area: navegacion; }

.main-femenino {
  grid-area: intro-femenino; }

.main-femenino {
  grid-area: portada-femenino; }

.main-femenino {
  grid-area: contenedor-posiciones-femenino; }

.footer {
  grid-area: redes; }

/* FEMENINO MEDIA TABLET */
@media screen and (min-width: 768px) {
  .contenedor-logo {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 80%; }
  .menu li {
    display: inline-block; }
  .contenedor-femenino {
    grid-template-columns: 100%;
    grid-template-areas: "navegacion" "intro-femenino" "portada-femenino" "contenedor-posiciones-femenino" "redes"; }
  .header {
    grid-area: navegacion; }
  .main-femenino {
    grid-area: intro-femenino; }
  .main-femenino {
    grid-area: portada-femenino; }
  .main-femenino {
    grid-area: contenedor-posiciones-femenino; }
  .footer {
    grid-area: redes; } }

/*FEMENINO MEDIA DESKTOP */
@media screen and (min-width: 1024px) {
  .contenedor-femenino {
    grid-template-columns: 100%;
    grid-template-areas: "navegacion" "intro-femenino" "portada-femenino" "contenedor-posiciones-femenino" "redes"; }
  .header {
    grid-area: navegacion; }
  .main-femenino {
    grid-area: intro-femenino; }
  .main-femenino {
    grid-area: portada-femenino; }
  .main-femenino {
    grid-area: contenedor-posiciones-femenino; }
  .footer {
    grid-area: redes; }
  .contenedor-logo {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 80%; }
  .menu li {
    display: inline-block; }
  .h1-torneo-femenino:hover {
    background-color: white;
    color: black;
    font-size: 50px; } }

body {
  background-color: black;
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif; }

.logo {
  display: flex;
  justify-content: center; }

.navegacion {
  display: flex;
  justify-content: center; }

.menu li {
  display: flex;
  justify-content: center;
  padding: 5px;
  transform: translate(-20px); }

h1 {
  text-align: center;
  color: aliceblue; }

h2 {
  text-align: center;
  color: aliceblue; }

p, table {
  color: aliceblue;
  text-align: center; }

a {
  text-decoration: none;
  color: aliceblue; }

footer {
  color: aliceblue;
  text-align: center; }

.formulario {
  color: aliceblue;
  display: inline-block;
  position: relative;
  margin-left: 500px; }

.button {
  width: 20px; }

input {
  width: 300px; }

.mensaje {
  height: 100px; }

.redes {
  display: inline;
  position: relative;
  width: 25px;
  height: 25px;
  margin-top: 20px; }

/*CSS PAGINA MASCULINO*/
.portada-masculino {
  width: 100%; }

.contenedor-posiciones-masculino {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center; }

/* SEGUIR POR: MASCULINO GRID AREAS

     .posiciones-femenino{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
        "navegacion-femenino"
        "intro-femenino"
        "portada-femenino"
        "posiciones-femenino"
        "redes"
        ;
    }

    .header-femenino{
        grid-area: navegacion;
    }
    .main-femenino{
        grid-area: intro-femenino;
    }
    .main-femenino{
        grid-area: portada-femenino;
    }
    .main-femenino{
        grid-area: posiciones-femenino;
    }
    .footer{
        grid-area: redes;
    }

    /* FEMENINO MEDIA TABLET 

    @media screen and (min-width:768px){
        .contenedor-logo{
            display: grid;
            grid-template-columns: 20% 80%;
            grid-template-rows: 80%;
        }

        .menu li{
            display: inline-block;
        }
        
        .contenedor-femenino{
        grid-template-columns: 100%;
        grid-template-areas: 
        "navegacion"
        "intro-femenino"
        "portada-femenino"
        "posiciones-femenino"
        "redes-femenino"
        ;
        }
        
        .header-femenino{
            grid-area: navegacion;
        }
        .main-femenino{
            grid-area: intro-femenino;
        }
        .main-femenino{
            grid-area: portada-femenino;
        }
        .main-femenino{
            grid-area: posiciones-femenino; 
        }
        .footer-femenino{
            grid-area: redes;
        }
        
    }

/*FEMENINO MEDIA DESKTOP 

    @media screen and (min-width:1024px){
        .contenedor-femenino{
        grid-template-columns: 100%;
        grid-template-areas: 
        "navegacion"
        "intro-femenino"
        "portada-femenino"
        "posiciones-femenino"
        "redes-femenino"
        ;
        }
        
        .header-femenino{
            grid-area: navegacion;
        }
        .main-femenino{
            grid-area: intro-femenino;
        }
        .main-femenino{
            grid-area: portada-femenino;
        }
        .main-femenino{
            grid-area: posiciones-femenino; 
        }
        .footer-femenino{
            grid-area: redes;
        }

        .contenedor-logo{
            display: grid;
            grid-template-columns: 20% 80%;
            grid-template-rows: 80%;
        }

        .menu li{
            display: inline-block;
        }
    }
*/
